.header__bg {
  background-color: #fff;
  box-shadow: 0 2px 4px #cecece;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__conteudo {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 16px;
}

.header__menu-desk,
.header__conteudo a.botao  {
  display: none;
}

.header__menu-desk ul li a{
 color: #9698a6;
 padding: 8px 12px;
}

li + li {
 margin-left: 6px;
}

@media (min-width: 768px)
{
  .header__menu-desk,
  .header__conteudo a.botao  {
    display: block;
  }

  .header__menu-mobile {
    display: none;
  }
}