.header__bg {
  background-color: #fff;
  box-shadow: 0 2px 4px #cecece;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__conteudo {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 16px;
}

.header__menu-desk,
.header__conteudo a.botao  {
  display: none;
}

.header__menu-desk ul li a{
 color: #9698a6;
 padding: 8px 12px;
}

li + li {
 margin-left: 6px;
}

.header__menu-desk.mobile-ativo {
  background-color: #fff;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #cecece;
  text-align: center;
}

.header__menu-desk.mobile-ativo,
.header__menu-desk.mobile-ativo ul li {
  display: block;
}

.header__menu-desk.mobile-ativo ul li  a {
  color: #2d314d;
}

@media (min-width: 768px)
{
  .header__menu-desk {
    display: block;
  }

  .header__menu-mobile {
    display: none;
  }
}

@media (min-width: 830px) {
  .header__conteudo a.botao  {
    display: block;
  }
}