.ilustracao-bg {
  background: url('../../images/bg-intro-mobile.svg') no-repeat;
  background-size: cover;
  height: 423px;

}

.ilustracao-bg{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ilustracao-conteudo {
  color: #9698a6;
  padding: 4px 8px;
  max-width: 40ch;
  margin: auto 0;
}



.ilustracao-conteudo h1{
 color: #2d314d;
}


@media (min-width: 768px)
{
  .ilustracao-bg {
    flex-direction: row-reverse;
  }

  .ilustracao-bg  p { 
    color: #fff;
  }
}

@media (min-width: 1200px){
  .ilustracao-bg {
    background: url('../../images/bg-intro-desktop.svg') no-repeat;  
    background-position: top -150px right -400px;
    height: 700px;
  }

  .ilustracao-bg  p { 
    color: #9698a6;
  }
}