.ilustracao-bg {
  background: url('../../images/bg-intro-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 423px;

}

.ilustracao-bg,
.ilustracao-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ilustracao-conteudo {
 color: #9698a6;
 padding: 4px 8px;
}

.ilustracao-conteudo p {
 max-width: 60ch;
}

.ilustracao-conteudo h1{
 color: #2d314d;
}

.ilustracao-conteudo h1 {
  text-align: center;
}

